<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            // 주소필터 클릭 시 폼 전송
            $(".addrBtn").on("click", function(e) {
                var addrValue = $(this).text();
                $('input[name=address]').val(addrValue);
                $('#filterForm').submit();
            });
            // 정렬기준 클릭 시 폼 전송
            $(".alignBtn").on("click", function(e) {
                var sortValue = $(this).attr('id');
                $('input[name=sort]').val(sortValue);
                $('#filterForm').submit();
            });

            changeSortButton();

            categoryTab();

            infinityScroll();


        });

        // 정렬기준 드롭다운 클릭 시 버튼 이름 변경
        function changeSortButton() {
            var sort = $('input[name=sort]').val();
            console.log(sort);
            $('#sorting ul li a').each(function() {
                if(sort === $(this).attr('id')){
                    $('#sorting button').text($(this).text());
                }
            });
            if(sort === ''){
                $('#sorting button').text($('#regTime').text());
            }
        }

        // 현재 카테고리탭
        function categoryTab() {
            var category = $('input[name=category]').val();
            var exhiTab = $('.inner #exhiTab');
            var museTab = $('.inner #museTab');
            var festTab = $('.inner #festTab');
            var text = '';
            if(category === 'exhibition') {
                exhiTab.css('font-weight', '700');
                exhiTab.css('border-bottom', '2px solid black');
                text = '전시회 | 여기컬쳐'
            }
            else if(category === 'museum') {
                museTab.css('font-weight', '700');
                museTab.css('border-bottom', '2px solid black');
                text = '뮤지엄 | 여기컬쳐'
            }
            else {
                festTab.css('font-weight', '700');
                festTab.css('border-bottom', '2px solid black');
                text = '행사/축제 | 여기컬쳐'
            }
            document.title = text;
        }

        // 무한스크롤
        function infinityScroll() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            let lastScroll = 0;
            let page = 0;
            let nowPageLimit = 0;
            let nextPageLimit = 0;
            var category = $('input[name=category]').val();
            var sort = $('input[name=sort]').val();
            var address = $('input[name=address]').val();

            function getData(limit) {
                $.ajax({
                    type : "POST",
                    enctype : 'multipart/form-data',
                    url : "/item/category/" + category,
                    async : false,
                    beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    data : {
                        "address" : address,
                        "sort" : sort,
                        "page" : page,
                        "limit" : limit
                    },
                    success : function(result, status) {
                        if(result.length === 20) {
                            for(var i=0; i < result.length; i++) {
                                var item = result[i];
                                var itemElementPlace =
                                    $(
                                        "<div class='col cateItem'>" +
                                            "<a href='/item/" + item.id + "'>" +
                                                "<div class='cateImgWrap'>" +
                                                    "<img src='" +item.imgUrl+ "' alt='" +item.itemName+ "'>" +
                                                "</div>" +
                                                "<div class='cateDetail'>" +
                                                    "<span class='detail_title'>" +item.itemName+ "</span>" +
                                                    "<span class='detail_place'>" +item.place+ "</span>" +
                                                    "<span class='detail_date'>" +item.startDay+" ~ "+item.endDay+ "</span>" +
                                                    "<span class='detail_price'>" +item.price+ "원" +"</span>" +
                                                "</div>" +
                                            "</a>" +
                                        "</div>"
                                    );
                                var itemElementAddr =
                                    $(
                                        "<div class='col cateItem'>" +
                                            "<a href='/item/" + item.id + "'>" +
                                                "<div class='cateImgWrap'>" +
                                                    "<img src='" +item.imgUrl+ "' alt='" +item.itemName+ "'>" +
                                                "</div>" +
                                                "<div class='cateDetail'>" +
                                                    "<span class='detail_title'>" +item.itemName+ "</span>" +
                                                    "<span class='detail_place'>" +item.address+ "</span>" +
                                                    "<span class='detail_date'>" +item.startDay+" ~ "+item.endDay+ "</span>" +
                                                    "<span class='detail_price'></span>" +
                                                "</div>" +
                                            "</a>" +
                                        "</div>"
                                    );
                                if(category === 'festival') {
                                    $('.cateItemCard').append(itemElementAddr);
                                } else {
                                    $('.cateItemCard').append(itemElementPlace);
                                }
                            }
                        }

                    },
                    error : function (result, status, err) {
                        page = page;
                    },
                    complete : function() {
                        page = page + 1;
                    }
                });
            }

            $(document).scroll(function(e) {
                console.log('스크롤 감지');
                var currentScroll = $(this).scrollTop();
                var documentHeight = $(document).height();

                var nowHeight = $(this).scrollTop() + $(window).height();

                // 스크롤이 아래로 내려갔을때만
                if(currentScroll > lastScroll) {
                    if(documentHeight < (nowHeight + (documentHeight*0.1))) {
                        getData(20);
                    }
                }

                lastScroll = currentScroll;
            });
        }

        // 찜 추가
        function addLike(event, itemId) {
            event.preventDefault();
            event.stopPropagation();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/like";
            var paramData = {
                itemId : itemId
            }

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    var itemId = result;
                    var button = $(`button.likeBtn[value='${itemId}']`);
                    if(button.css('color') === 'rgb(255, 0, 0)') {
                        button.css('color', 'white');
                    } else {
                        button.css('color', 'red');
                    }
                },
                error : function(jqXHR, status, error){
                    alert('찜 기능은 로그인 후 이용 가능합니다.');
                    location.href = '/members/login';
                }
            });
        }

    </script>
</th:block>

<div layout:fragment="content">
    <div class="container" id="itemCategory">
        <form th:action="@{'/item/category/' + ${category}}" method="get" id="filterForm">
            <!-- 상품정렬/필터 -->
            <div class="cateHead">
                <div class="cateFilter">
                    <div class="dropdown" id="sorting">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <input type="hidden" th:value="${sort}" name="sort">
                            <input type="hidden" th:value="${category}" name="category">
                            <li><a class="dropdown-item alignBtn" id="regTime">최신순</a></li>
                            <li><a class="dropdown-item alignBtn" data-value="review" id="review">리뷰 많은순</a></li>
                            <li><a class="dropdown-item alignBtn" data-value="endDay" id="endDay">종료 임박순</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cateCount">
                    <div class="cateLeft">총 <span th:text="${count}"></span>개</div>
                    <th:block th:if="${category.equals('festival')}">
                        <div class="cateRight">
                            <div class="addrFilter">
                                <input type="hidden" id="addrValue" th:value="${address}" name="address">
                                <div class="filterIcon"><span class="material-symbols-outlined">tune</span>필터</div>
                                <span class="addrBtns"><a id="seoul" class="addrBtn">서울</a></span>
                                <span class="addrBtns"><a id="kk" class="addrBtn">경기</a></span>
                                <span class="addrBtns"><a id="ks" class="addrBtn">경상</a></span>
                                <span class="addrBtns"><a id="jr" class="addrBtn">전라</a></span>
                                <span class="addrBtns"><a id="jj" class="addrBtn">제주</a></span>
                                <span class="addrBtns"><a id="cc" class="addrBtn">충청</a></span>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${category.equals('festival')}"></th:block>
                </div>
            </div>
        </form>
        <!-- 상품 목록 -->
        <div class="cateBody">
            <div class="container text-center" style="margin-top: 50px">
                <div class="row row-cols-4 cateItemCard">
                    <th:block th:each="item : ${items}">
                        <div class="col cateItem">
                            <a th:href="'/item/' + ${item.id}">
                                <div class="cateImgWrap">
                                    <img th:src="${item.imgUrl}" th:alt="${item.itemName}">
                                    <th:block th:if="${item.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${item.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${item.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${item.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="cateDetail">
                                    <span th:text="${item.itemName}" class="detail_title" ></span>
                                    <span th:if="${category.equals('festival')}" th:text="${item.address}" class="detail_place"></span>
                                    <span th:unless="${category.equals('festival')}" th:text="${item.place}" class="detail_place"></span>
                                    <span th:text="${item.startDay +' ~ '+ item.endDay}" class="detail_date"></span>
                                    <span th:if="${category.equals('festival')}" class="detail_price"></span>
                                    <span th:unless="${category.equals('festival')}" th:text="${item.price} + '원'" class="detail_price"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
</div>
</html>