<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .searchHead {
            border-bottom: 1px solid #f0f0f0;
            padding-bottom: 20px;
            margin-top: 40px;
            display: flex;
        }
        .searchHead h4 {
            margin-left: 30px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
        <div class="searchHead">
            <h4>'<span th:text="${itemSearchDto.searchQuery}" style="font-weight: 700"></span>' 검색 결과</h4>
            <span th:text="${'(총 ' +itemCount+ '건)'}" style="color: #808080; margin-left: 20px;"></span>
        </div>

        <div class="container text-center" style="margin-top: 50px">
            <div class="row row-cols-4 itemCard">
                <th:block th:each="item : ${items}">
                    <div class="col cateItem">
                        <a th:href="'/item/' + ${item.id}">
                            <div class="cateImgWrap">
                                <img th:src="${item.imgUrl}" th:alt="${item.itemName}">
                            </div>
                            <div class="cateDetail">
                                <span th:text="${item.itemName}" class="detail_title" ></span>
                                <span th:if="${#strings.isEmpty(item.place)}" th:text="${item.address}" class="detail_place"></span>
                                <span th:unless="${#strings.isEmpty(item.place)}" th:text="${item.place}" class="detail_place"></span>
                                <span th:text="${item.startDay +' ~ '+ item.endDay}" class="detail_date"></span>
                                <span th:text="${item.price} + '원'" class="detail_price"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</html>