<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="css">
    <style>


    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            $('#reqWrite').hide();
            $('#delReq').change(function() {
                if($(this).val() === '직접 입력') {
                    $('#reqWrite').show();
                }
                else {
                    $('#reqWrite').hide();
                }
            });

            $('.delFree').show();
            $('.delCharge').hide();
            $('input[name="getTicket"]').change(function() {
                if($(this).val() === '현장수령') {
                    $('.delFree').show();
                    $('.delCharge').hide();
                }
                else {
                    $('.delCharge').show();
                    $('.delFree').hide();
                }
            });

        });

        function order() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";

            if($('input[name="getTicket"]').val() === '현장수령'){
                var orderPrice = parseInt($('#delFree').text());
            }
            else {
                var orderPrice = parseInt($('#delCharge').text());
            }
            var paramData = {
                itemId : $('#itemId').val(),
                count : $('#count').val(),
                viewDay : $('#date').val(),
                orderPrice : orderPrice,
                orderTel: $('#orderTel').val(),
                address: $('#address').val(),
                dtlAddress: $('#detailAddress').val(),
                delReq: $('#delReq').val(),
                reqWrite: $('#reqWrite').val(),
                getTicket: $("input[name='getTicket']:checked").val()
            }

            var param = JSON.stringify(paramData);

            console.log("Sending request with data:", param);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "text",
                cache : false,
                success : function(result, status) {
                    //alert('주문성공');
                    var orderUid = result;
                    requestPay(orderUid);
                },
                error : function(jqXHR, status, error) {
                    if(jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요.');
                    }
                    else {
                        alert(jqXHR.responseText);
                    }
                }
            });

        }

        var IMP = window.IMP;
        IMP.init("imp16131530");
        function requestPay(orderUid) {

            var itemName = $('#itemName').val();

            console.log(orderUid);

            var paymentPrice;
            if($('input[name="getTicket"]').val() === '현장수령'){
                paymentPrice = parseInt($('#delFree').text());
            }
            else {
                paymentPrice = parseInt($('#delCharge').text());
            }

            var buyerName = $('#orderName').val();
            var buyerEmail = $('#email').val();
            var buyerAddress = $('#address').val();
            var buyerTel = $('#orderTel').val();

            IMP.request_pay({
                pg : 'html5_inicis.INIpayTest',
                pay_method : 'card',
                merchant_uid: orderUid,
                name : itemName,
                amount : paymentPrice,
                buyer_email : buyerEmail,
                buyer_name : buyerName,
                buyer_tel : buyerTel,
                buyer_addr : buyerAddress,
                buyer_postcode : '123-456',
            },
            function(rsp) {

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                if (rsp.success) {
                    alert('call back!! ' + JSON.stringify(rsp));

                    jQuery.ajax({
                        url: "/payment",
                        method: "POST",
                        beforeSend : function(xhr){
                            xhr.setRequestHeader(header, token);
                        },
                        headers: {"Content-Type": "application/json"},
                        data: JSON.stringify({
                            "payment_uid": rsp.imp_uid,      // 결제 고유번호
                            "order_uid": rsp.merchant_uid   // 주문번호
                        })
                    }).done(function (response) {
                        window.location.href = "/order/success"
                    })
                } else {
                    alert('결제 취소' + rsp);

                    jQuery.ajax({
                        url: "/order/" + rsp.merchant_uid,
                        method: "DELETE",
                        beforeSend : function(xhr){
                            xhr.setRequestHeader(header, token);
                        },
                        headers: {"Content-Type": "application/json"}
                    }).done(function(response) {
                        console.log("주문 삭제 응답: ", response);
                        alert('주문이 취소되었습니다.');
                        window.location.href = "/";
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        console.error('주문 삭제 중 오류 발생: ', textStatus, errorThrown);
                        console.error('HTTP 상태 코드: ', jqXHR.status);
                        console.error('응답 본문: ', jqXHR.responseText);
                        alert('주문 삭제 중 오류가 발생했습니다. 다시 시도해주세요.');
                    });
                }
            });
        }

        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }

    </script>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <input type="hidden" th:value="${item.id}" id="itemId">
        <input type="hidden" th:value="${member.email}" id="email">
        <section class="orderInfo">
            <div class="subTitle">
                <div>배송정보</div>
            </div>
            <div class="subContents">
                <div class="oiContent">
                    <div class="memInfos">
                        <div class="col-sm-6">
                            <label for="orderName" class="form-label">받는 사람</label>
                            <input class="form-control" type="text" th:value="${member.name}" id="orderName" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="orderTel" class="form-label">휴대전화</label>
                            <input class="form-control" type="text" th:value="${member.tel}" id="orderTel">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="address" class="form-label">주소</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="우편번호" id="postcode">
                                <input class="btn btn-outline-secondary" type="button" onclick="execDaumPostcode()"
                                       value="우편번호 찾기">
                            </div>
                            <input type="text" class="form-control" th:value="*{member.address}" id="address" placeholder="주소">
                            <input type="text" class="form-control" th:value="*{member.dtlAddress}" id="detailAddress" placeholder="상세주소">
                        </div>
                    </div>
                    <div class="delReq">
                        <div class="col-md-6">
                            <label for="delReq" class="form-label" style="color: #808080">배송 요청사항</label>
                            <select class="form-select" id="delReq">
                                <option value="요청사항없음">배송 요청 사항을 선택하세요.</option>
                                <option value="배송 전 연락 바랍니다.">배송 전 연락 바랍니다.</option>
                                <option value="부재시 휴대전화로 연락주세요.">부재시 휴대전화로 연락주세요.</option>
                                <option value="부재시 경비실에 맡겨주세요.">부재시 경비실에 맡겨주세요.</option>
                                <option value="부재시 문앞에 놓아주세요.">부재시 문앞에 놓아주세요.</option>
                                <option value="직접 입력">직접 입력</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" id="reqWrite" rows="3" placeholder="배송 요청 사항을 입력하세요.(최대 50자)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="getTicket">
            <div class="subTitle">
                <div>티켓 수령 방법</div>
            </div>
            <div class="subContents">
                <div class="gtContent">
                    <div class="form-check gtSelect">
                        <input class="form-check-input" type="radio" value="현장수령" name="getTicket" id="scene" checked>
                        <label class="form-check-label" for="scene">
                            현장수령
                        </label>
                    </div>
                    <div class="form-check gtSelect">
                        <input class="form-check-input" type="radio" value="배송" name="getTicket" id="delivery">
                        <label class="form-check-label" for="delivery">
                            배송 (3000원)
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <section class="orderItemInfo">
            <div class="subTitle">
                <div>상품 정보</div>
            </div>
            <div class="subContents">
                <div class="oiiContent">
                    <ul class="orderItems">
                        <li class="orderItemDtl">
                            <div class="oidWrap">
                                <img th:src="${item.imgUrl}" th:alt="${item.itemName}">
                                <div class="orderItemText">
                                    <div class="oit_1">
                                        <h3 th:text=${item.itemName} style="font-weight: bold"></h3>
                                        <input type="hidden" th:value="${item.itemName}" id="itemName">
                                        <div th:text="'관람일 : ' + ${date}" style="color: #787878"></div>
                                        <input type="hidden" th:value="${date}" id="date">
                                        <div th:text="'수량 : ' + ${count} + '개'" style="color: #787878"></div>
                                        <input type="hidden" th:value="${count}" id="count">
                                    </div>
                                    <div class="oit_2">
                                        <strong th:text="${item.price * count} + '원'" style="font-size: 20px"></strong>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="payment">
            <div class="subTitle">
                <div>결제금액</div>
            </div>
            <div class="subContents">
                <div class="pmContent">
                    <table class="table border-top">
                        <colgroup>
                            <col width="30%">
                            <col width="70%">
                        </colgroup>
                        <tr>
                            <th class="p-3 bg-body-tertiary">총 상품금액</th>
                            <td th:text="${item.price * count} + '원'"></td>
                        </tr>
                        <tr>
                            <th class="p-3 bg-body-tertiary">배송비</th>
                            <td class="delCharge">
                                +3,000원
                            </td>
                            <td class="delFree">
                                없음
                            </td>
                        </tr>
                        <tr>
                            <th class="p-3 bg-body-tertiary">총 결제금액</th>
                            <td th:text="${item.price * count + 3000} + '원'" class="delCharge" id="delCharge" style="color: #C10000"></td>
                            <td th:text="${item.price * count} + '원'" class="delFree" id="delFree" style="color: #C10000"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>


        <div class="d-grid gap-2 payBtn">
            <button class="btn btn-primary btn-lg" type="button" onclick="order()">결제하기</button>
        </div>
    </div>
</div>
</html>