<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="css">
    <style>
        section {
            width: 100%;
        }
        #rate_review {
            font-size: 40px;
            color: #bbe309;
        }
        table.orderList {
            margin-top: 50px;
        }


    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            $('#wriReview').show();
            $('#noReview').hide();
            $(".nav-link").on("click", function(e) {
                $(".nav-link").each(function() {
                    if ($(this).is(e.currentTarget)) {
                        $(this).addClass("active");
                    } else {
                        $(this).removeClass("active");
                    }
                });

                var wriReviewTab = $('#wriReviewTab');
                var noReviewTab = $('#noReviewTab');
                if($(e.currentTarget).is(wriReviewTab)) {
                    $('#wriReview').show();
                    $('#noReview').hide();
                }
                else {
                    $('#noReview').show();
                    $('#wriReview').hide();
                }
            });
        });

        function deleteReview(reviewId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            console.log(reviewId);
            var url = "/review/delete/" + reviewId;
            console.log(url);

            var paramData = {
                reviewId : reviewId,
            }
            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "DELETE",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    alert('리뷰가 삭제 되었습니다.');
                    location.href='/my-page/reviews';
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }
                    else{
                        alert(jqXHR.responseText);
                    }
                }
            })
        }


    </script>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/order/like}" method="get">
            <section class="mypageHead">
                <div class="mypageBox">
                    <div class="mypageText">
                        <div class="mypage-mem">
                            <span th:text="${member.name} + '님'" style="font-size: 25px"></span>
                        </div>
                        <div class="mypage-list">
                            <button class="mypage-button" type="button" onclick="location.href='/my-page/orders'">
                                <div class="menuList">
                                    <span class="material-symbols-outlined" id="bag">shopping_bag</span>
                                    <span class="mypage-menu">구매</span>
                                    <strong th:text="${orderCount}" class="mypage-menu-count"></strong>
                                </div>
                            </button>
                            <button class="mypage-button" type="button" onclick="location.href='/my-page/likes'">
                                <div class="menuList">
                                    <span class="material-symbols-outlined" style="font-size: 40px" id="favorite">Favorite</span>
                                    <span class="mypage-menu">좋아요</span>
                                    <strong th:text="${likeCount}" class="mypage-menu-count"></strong>
                                </div>
                            </button>
                            <button class="mypage-button" type="button" onclick="location.href='/my-page/reviews'">
                                <div class="menuList">
                                    <span class="material-symbols-outlined" style="font-size: 40px" id="rate_review">rate_review</span>
                                    <span class="mypage-menu">리뷰</span>
                                    <strong th:text="${reviewCount}" class="mypage-menu-count"></strong>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mypageBody">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active mypageTab" id="wriReviewTab" aria-current="page" href="#">  작성한 리뷰  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mypageTab" id="noReviewTab" href="#">  작성 가능한  </a>
                    </li>
                </ul>
                <div class="mypage-body">
                    <table class="orderList" id="wriReview">
                        <colgroup>
                            <col width="10%">
                            <col width="70%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>등록일</th>
                            <th>상품 정보</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="review : ${reviews}">
                            <tr>
                                <td th:text="${review.regTime}"></td>
                                <td>
                                    <div class="olItem">
                                            <img th:src="${review.imgUrl}" th:alt="${review.itemName}">
                                            <div class="olItemText">
                                                <div class="olText">
                                                    <h3 th:text="${review.itemName}" style="font-weight: bold"></h3>
                                                    <div th:if="${#strings.isEmpty(review.place)}" th:text="${review.address}" style="color: #BBE309"></div>
                                                    <div th:unless="${#strings.isEmpty(review.place)}" th:text="${review.place}" style="color: #BBE309"></div>
                                                    <div th:text="'관람일: ' + ${review.viewDay}" style="color: #787878"></div>
                                                </div>
                                            </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="hidden" th:value="${review.reviewId}" name="reviewId">
                                    <a role="button" th:href="@{'/review/update/' + ${review.reviewId}}" class="btn btn-outline-secondary">
                                        수정</a>
                                </td>
                                <td style="border-right: none">
                                    <button type="button" onclick="deleteReview(this.value)" th:value="${review.reviewId}" class="btn btn-outline-secondary">
                                        삭제</button>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                    <table class="orderList" id="noReview">
                        <colgroup>
                            <col width="80%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>상품 정보</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="noRevItem : ${noRevItems}">
                            <tr>
                                <td style="border-left: none">
                                    <div class="olItem">
                                        <img th:src="${noRevItem.imgUrl}" th:alt="${noRevItem.itemName}">
                                        <div class="olItemText">
                                            <div class="olText">
                                                <h3 th:text="${noRevItem.itemName}" style="font-weight: bold"></h3>
                                                <div th:if="${#strings.isEmpty(noRevItem.place)}" th:text="${noRevItem.address}" style="color: #BBE309"></div>
                                                <div th:unless="${#strings.isEmpty(noRevItem.place)}" th:text="${noRevItem.place}" style="color: #BBE309"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="border-right: none">
                                    <a role="button" th:href="@{'/review/write/' + ${noRevItem.id}}" class="btn btn-outline-secondary">
                                        리뷰 작성</a>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </section>
        </form>
    </div>
</div>
</html>