<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="page-footer">
        <div class="footerWrapper">
            <div class="footerInfo">
                <div class="footerInfoDetail">
                    <h2>(주)쇼핑몰이름</h2>
                    <div>
                        <p>주소</p>
                        <p>사업자등록번호</p>
                        <p>통신판매업신고</p>
                        <p>관광사업증 등록번호</p>
                    </div>
                </div>
                <div class="footerInfoDetail">
                    <h2>고객센터</h2>
                    <div>
                        <p>전화 1588-0000</p>
                        <p>팩스 02-0000-0000</p>
                        <p>이메일 example@example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>