.footerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.footerInfo {
    display: flex;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 100px;
    width: 100%;
    max-width: 1340px;
    min-width: 1024px;
    margin: 0 auto;
}
.footerInfoDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}