html{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans KR", sans-serif;
}
.footer{
    padding: 15px 0;
    text-align: center;
}
.content{
    flex: 1;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
a {
    color: black !important;
}
.placeCard h5 div {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* pagination */
.page-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #f1f1f1;
 border-color: #ccc;

}
.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}

.badge.bg-primary {
    background-color: #a3c21b !important;
}
.btn-primary {
    background-color: #BBE309;
    border-color: #BBE309;
}
.btn-primary:hover {
    background-color: #a8cc06;
    border-color: #a8cc06;
}


/* header */
html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Noto Sans KR", sans-serif;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.inner .logo {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    align-items: center;
}
header {
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
}
header .headerTop {
    background-color: #a8cc06;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
}
header > .inner {
    height: 100px;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header .sub-menu {
    position: absolute;
    top: 10px;
    display: flex;
}
header .sub-menu ul {
    margin-top: 0;
    padding-left: 0;
}
header .sub-menu ul.menu {
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
    color: #fff;
}
header .sub-menu ul.menu li::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
header .main-menu .item .item_name {
    padding: 22px 20px 22px 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: black;
    font-size: 20px;
}
header .main-menu .item:hover .item_name {
    font-weight: 700;
}

/* footer */
.footerWrapper {
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}
.footerInfo {
    display: flex;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 100px;
    width: 100%;
    max-width: 1340px;
    min-width: 1024px;
    margin: 0 auto;
}
.footerInfoDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}
.footerInfoDetail h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    color: #111;
}
.footerInfoDetail p {
    color: #666;
}

/* main */

.owl-prev {
    left: -30px;
}
.owl-next {
    right: -30px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 90px;
}
.owl-prev span, .owl-next span {
    font-size: 80px;
    color: #666;
}
.owl-theme , .owl-nav[class*="owl-"]:hover {
    background: transparent;
}

.bannerLink {
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}
.bannerImg {
    max-width: 305px;
    height: 407px
}
.bannerContents {
    position: absolute;
    width: calc(100% - 56px);
    left: 28px;
    bottom: 28px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bannerTitle {
    color: white;
    line-height: 120%;
    max-height: 240%;
    font-size: 25px;
    font-weight: 700;
}
.bannerLoc {
    color: white;
    font-size: 14px;
    margin-top: 12px;
    line-height: 150%;
}
.bannerDate {
    color: white;
    font-size: 14px;
    line-height: 150%;
}
.searchBox {
    width: 50%;
    margin: 50px auto;
    height: 50px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
}
.searchInput {
    height: 18px;
    flex: 1;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #111;
    border: 0;
    outline: 0;
    width: 100%;
}
.searchButton {
    margin: 0 16px 0 0;
    padding: 0;
    border: none;
    background: none;
    color: #808080;
}
section {
    margin-top: 50px;
}
.radioGroup {
    margin: 30px 0 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.radioButton {
    height: 44px;
    padding: 0 18px;
    border-radius: 32px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    line-height: 150%;
}
.radioButton:hover, .radioButton.active {
    height: 44px;
    padding: 0 18px;
    border-radius: 32px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #bbe309;
    border: 1px solid #e8e8e8;
    line-height: 150%;
}
.section_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0 0;
    width: 100%;
}
.section_title h2 {
    font-weight: 700;
}
.moreItems {
    text-align: center;
    margin-bottom: 20px;
}
.itemGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.locItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    margin-right: 25px;
    gap: 16px;
    cursor: pointer;
}

.locImgWrap {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}
.locImgWrap img {
    width: 230px;
    height: 300px;
}
.locDetail {
    display: flex;
    padding: 0 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 100px;
}
.locDetail_title {
    line-height: 150%;
    margin: 0 0 4px;
    font-size: 17px;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
    word-break: break-all;
}
.locDetail_place {
    font-size: 15px;
    line-height: 150%;
    color: #bbe309;
}
.locDetail_date {
    font-size: 15px;
    line-height: 150%;
    color: #cdd0d1;
}

/* itemDtl */
.likeBtn {
    border: 0;
    background-color: transparent;
    color: grey;
}
.likeBtn.beforeLike {
    color: grey;
}
.likeBtn.afterLike {
    color: red;
}

/* orderForm */
.subTitle {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 800;
    border-bottom: 2px solid #808080;
}
.oiContent {

}
.memInfos {
    padding: 30px 0;
}
.memInfo label {
    color: #808080;
}
.delReq {
    border-top: 1px solid #ebebeb;
    padding-top: 30px;
}
.gtContent {
    margin-top: 30px;
}
.gtSelect {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 20px;
    align-content: center;
    padding-left: 50px;
    width: 500px;
    height: 70px;
}
.orderItems {
    border-color: #ebebeb;
}
.orderItemDtl {
    padding: 0;
    border-color: #ebebeb;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ebebeb;
}
.oidWrap {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.orderItemDtl img {
    width: 150px;
}
.orderItemText {
    padding: 0;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    width: 970px;
}
.oit_1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 50px;
}
.oit_2 {
    width: 208px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ebebeb;
    flex-shrink: 0;
    justify-content: center;
}
.pmContent {
    margin: 30px auto;
    width: 600px;
}
.pmContent th {
    text-align: center;
    line-height: 3;
}
.pmContent td {
    text-align: center;
    line-height: 4;
    font-weight: 600;
}
.payBtn {
    margin: 100px auto 0;
    padding: 30px 0 0;
    width: 444px;
}
.delReq textarea {
    margin-top: 20px;
}

/* orderHist */
.mypageHead {
    margin: 0 auto;
}
.mypageBox {
    border: 1px solid #F0F0F0;
    margin: 20px auto 0;
    padding: 26px 40px 31px 40px;
    border-radius: 8px;
    height: 200px;
    align-content: center;
}
.mypageText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mypage-mem {
    width: 420px;
    margin-bottom: 0;
    align-content: center;
}
.mypage-list {
    width: 546px;
    align-items: center;
}
.mypage-button {
    width: 116px;
    height: 58px;
    padding: 0;
    border: none;
    background: none;
    margin-right: 60px;
}
#bag {
    font-size: 40px;
}
.menuList {
    display: flex;
    position: relative;
    height: 58px;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: row;
}

.mypage-menu {
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 0;
}
.mypage-menu-count {
    font-size: 20px;
    font-weight: 500;
}
.orderList {
    width: 100%;
    display: table;
    border-bottom: 1px solid #f0f0f0;
    border-spacing: 0;
    border-collapse: collapse;
}
.orderList th {
    text-align: center;
    color: #808080;
    font-weight: 800;
}
.orderList td {
    text-align: center;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.olItem {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.olItems {
    display: flex;
    flex-direction: row;
}
.olItem img {
    display: block;
    width: 130px;
    margin-left: 20px;
}
.olItemText {
    padding: 0;
    align-items: stretch;
    display: flex;
    width: 500px;
}
.olText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 50px;
}

/* likeList */
.likeBody {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.likeContents {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 40px;
}
.likeOrderBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.allLikeCheck {
    padding-bottom: 20px;
    border-bottom: 1px solid #cdd0d1;
    margin-bottom: 40px;
}
.likeContentList{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.mLikeItem {
    margin-bottom: 65px;
}
.likeImgWrap {
    position: ralative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.likeImgWrap img {
    width: 300px;
    height: 370px;
    border-radius: 8px;
}
.likeDetail {
    display: flex;
    padding: 0 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 100px;
    width: 300px;
    text-align: left;
}
.detail_title {
    line-height: 150%;
    margin: 0 0 4px;
    font-size: 17px;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
}
.detail_place {
    font-size: 15px;
    line-height: 150%;
    color: #bbe309;
}
.detail_date {
    font-size: 15px;
    line-height: 150%;
    color: #cdd0d1;
}
.detail_price {
    font-size: 16px;
    color: #808080;
    line-height: 150%;
    font-weight: 700;
}

/* reviewList */
.mypageTab {
    color: black;
}

/* itemCategory */
.cateFilter {
    float: right;
}
.cateCount {
    border-bottom: 1px solid #cdd0d1;
    padding-top: 50px;
    padding-bottom: 10px;
}
.cateItem {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.cateItem a {
    margin-bottom: 65px;
}
.cateImgWrap {
    position: ralative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.cateImgWrap img {
    width: 300px;
    height: 370px;
    border-radius: 8px;
}
.cateDetail {
    display: flex;
    padding: 0 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 100px;
    width: 300px;
    text-align: left;
}

/* placeMain */
.placeBox {
    width: 20%;
    height: 130px;
    margin-right: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    line-height: 2;
    padding-left: 3px;
}
.placeName {
    font-weight: 700;
    color: black;
    font-size: 20px;
}
.placeAddr {
    font-weight: 400;
    font-size: 15px;
    color: #bbe309;
}
.placeTime {
    font-weight: 400;
    font-size: 15px;
    color: #666670;
}
