<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                autoplay: true,
                autoplayhoverpause: true,
                autoplaytimeout: 100,
                items: 4,
                nav: true,
                loop: true
            });

            locButton();
        })

        // 지역버튼 css, 상품목록
        function locButton() {
            $('#locItem1').show();
            $('#locItem2').hide();
            $('#locItem3').hide();
            $('#locItem4').hide();
            $('#locItem5').hide();
            $('#locItem6').hide();

            $(".radioButton").on("click", function(e) {
                var $btns = $(".radioButton");
                var $loc1 = $("#loc1");
                var $loc2 = $("#loc2");
                var $loc3 = $("#loc3");
                var $loc4 = $("#loc4");
                var $loc5 = $("#loc5");
                var $loc6 = $("#loc6");

                // 모든 버튼의 활성화 상태 업데이트
                $btns.each(function() {
                    if ($(this).is(e.currentTarget)) {
                        $(this).addClass("active");
                    } else {
                        $(this).removeClass("active");
                    }
                });

                if ($(e.currentTarget).is($loc1)) {
                    $('#locItem1').show();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc2)) {
                    $('#locItem2').show();
                    $('#locItem1').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc3)) {
                    $('#locItem3').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc4)) {
                    $('#locItem4').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc5)) {
                    $('#locItem5').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc6)) {
                    $('#locItem6').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                }
            });
        }

        // 찜 추가
        function addLike(event, itemId) {
            event.preventDefault();
            event.stopPropagation();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/like";
            var paramData = {
                itemId : itemId
            }

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    alert('찜추가 성공');
                    location.href='/';
                },
                error : function(jqXHR, status, error){
                    alert('찜 기능은 로그인 후 이용 가능합니다.');
                    location.href = '/members/login';
                }
            });
        }

    </script>
</th:block>

<div layout:fragment="content">

    <!-- 배너 -->
    <div class="container mt-5" id="main">
        <div class="owl-carousel owl-theme">
            <th:block th:each="bannerItem : ${bannerItems}">
                <div class="ms-2 me-2">
                    <a th:href="'/item/' + ${bannerItem.id}" class="bannerLink">
                        <img th:src="${bannerItem.imgUrl}" alt="${bannerItem.itemName}" class="bannerImg">
                        <ul class="bannerContents">
                            <li th:text="${bannerItem.itemName}" class="bannerTitle"></li>
                            <li th:if="${#strings.isEmpty(bannerItem.place)}" th:text="${bannerItem.address}" class="bannerLoc"></li>
                            <li th:unless="${#strings.isEmpty(bannerItem.place)}" th:text="${bannerItem.place}" class="bannerLoc"></li>
                            <li th:text="${bannerItem.startDay +' ~ '+ bannerItem.endDay}" class="bannerDate"></li>
                        </ul>
                    </a>
                </div>
            </th:block>
        </div>
    </div>


    <!-- 검색창 -->
    <form th:action="@{/search}" method="get">
        <div class="searchBox">
            <input name="searchQuery" type="search" class="searchInput" placeholder="검색어를 입력하세요" aria-label="Search">
            <button type="submit" class="material-symbols-outlined searchButton">search</button>
        </div>
    </form>

    <!-- 지역별 -->
    <section class="LocRec">
        <div class="section_title">
            <h2>지역별 추천 상품</h2>
        </div>
        <div class="LocRec_content">
            <div class="radioGroup">
                <button role="tab" class="radioButton active" id="loc1" aria-label="서울">서울</button>
                <button role="tab" class="radioButton" id="loc2" aria-label="경기">경기</button>
                <button role="tab" class="radioButton" id="loc3" aria-label="경상">경상</button>
                <button role="tab" class="radioButton" id="loc4" aria-label="전라">전라</button>
                <button role="tab" class="radioButton" id="loc5" aria-label="제주">제주</button>
                <button role="tab" class="radioButton" id="loc6" aria-label="충청">충청</button>
            </div>
            <div class="itemGroup">
                <!-- 서울 상품목록 -->
                <div id="locItem1" style="display: flex">
                    <th:block th:each="seoulItem : ${seoulItems}" id="itemList">
                        <div class="locItem">
                            <a th:href="'/item/' + ${seoulItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${seoulItem.imgUrl}" alt="${seoulItem.itemName}">
                                    <th:block th:if="${seoulItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${seoulItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${seoulItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${seoulItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${seoulItem.itemName}" class="locDetail_title" ></span>
                                    <span th:if="${#strings.isEmpty(seoulItem.place)}" th:text="${seoulItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(seoulItem.place)}" th:text="${seoulItem.place}" class="locDetail_place"></span>
                                    <span th:text="${seoulItem.startDay +' ~ '+ seoulItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <!-- 경기 상품목록 -->
                <div id="locItem2" style="display: flex">
                    <th:block th:each="kkItem : ${kkItems}">
                        <div class="locItem">
                            <a th:href="'/item/' + ${kkItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${kkItem.imgUrl}" alt="${kkItem.itemName}">
                                    <th:block th:if="${kkItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${kkItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${kkItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${kkItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${kkItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${#strings.isEmpty(kkItem.place)}" th:text="${kkItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(kkItem.place)}" th:text="${kkItem.place}" class="locDetail_place"></span>
                                    <span th:text="${kkItem.startDay +' ~ '+ kkItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <!-- 경상 상품목록 -->
                <div id="locItem3" style="display: flex">
                    <th:block th:each="ksItem : ${ksItems}">
                        <div class="locItem">
                            <a th:href="'/item/' + ${ksItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${ksItem.imgUrl}" alt="${ksItem.itemName}">
                                    <th:block th:if="${ksItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${ksItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${ksItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${ksItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${ksItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${#strings.isEmpty(ksItem.place)}" th:text="${ksItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(ksItem.place)}" th:text="${ksItem.place}" class="locDetail_place"></span>
                                    <span th:text="${ksItem.startDay +' ~ '+ ksItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <!-- 전라 상품목록 -->
                <div id="locItem4" style="display: flex">
                    <th:block th:each="jrItem : ${jrItems}">
                        <div class="locItem">
                            <a th:href="'/item/' + ${jrItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${jrItem.imgUrl}" alt="${jrItem.itemName}">
                                    <th:block th:if="${jrItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${jrItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${jrItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${jrItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${jrItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${#strings.isEmpty(jrItem.place)}" th:text="${jrItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(jrItem.place)}" th:text="${jrItem.place}" class="locDetail_place"></span>
                                    <span th:text="${jrItem.startDay +' ~ '+ jrItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <!-- 제주 상품목록 -->
                <div id="locItem5" style="display: flex">
                    <th:block th:each="jjItem : ${jjItems}">
                        <div class="locItem">
                            <a th:href="'/item/' + ${jjItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${jjItem.imgUrl}" alt="${jjItem.itemName}">
                                    <th:block th:if="${jjItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${jjItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${jjItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${jjItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${jjItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${#strings.isEmpty(jjItem.place)}" th:text="${jjItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(jjItem.place)}" th:text="${jjItem.place}" class="locDetail_place"></span>
                                    <span th:text="${jjItem.startDay +' ~ '+ jjItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <!-- 충청 상품목록 -->
                <div id="locItem6" style="display: flex">
                    <th:block th:each="ccItem : ${ccItems}">
                        <div class="locItem">
                            <a th:href="'/item/' + ${ccItem.id}" class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${ccItem.imgUrl}" alt="${ccItem.itemName}">
                                    <th:block th:if="${ccItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${ccItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined">favorite</span>
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${ccItem.userLikeYn == null}">
                                        <button type="button" class="likeBtn" th:value="${ccItem.id}" onclick="addLike(event, this.value)">
                                            <span class="material-symbols-outlined" style="color: red">favorite</span>
                                        </button>
                                    </th:block>
                                </div>
                                <div class="locDetail">
                                    <span th:text="${ccItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${#strings.isEmpty(ccItem.place)}" th:text="${ccItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${#strings.isEmpty(ccItem.place)}" th:text="${ccItem.place}" class="locDetail_place"></span>
                                    <span th:text="${ccItem.startDay +' ~ '+ ccItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>

    <!-- 전시회 -->
    <section class="exhiRec">
        <div class="section_title" style="margin-bottom: 30px">
            <h2>전시회 추천 상품</h2>
        </div>
        <div class="moreItems">
            <a href="/item/category/exhibition">더보기 ></a>
        </div>
        <div class="itemGroup">
            <div id="exhiRecItems" style="display: flex">
                <th:block th:each="exhiItem : ${exhiItems}" id="itemList">
                    <div class="locItem">
                        <a th:href="'/item/' + ${exhiItem.id}" class="linkLocItem">
                            <div class="locImgWrap">
                                <img th:src="${exhiItem.imgUrl}" alt="${exhiItem.itemName}">
                                <th:block th:if="${exhiItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${exhiItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined">favorite</span>
                                    </button>
                                </th:block>
                                <th:block th:unless="${exhiItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${exhiItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined" style="color: red">favorite</span>
                                    </button>
                                </th:block>
                            </div>
                            <div class="locDetail">
                                <span th:text="${exhiItem.itemName}" class="locDetail_title" ></span>
                                <span th:if="${#strings.isEmpty(exhiItem.place)}" th:text="${exhiItem.address}" class="locDetail_place"></span>
                                <span th:unless="${#strings.isEmpty(exhiItem.place)}" th:text="${exhiItem.place}" class="locDetail_place"></span>
                                <span th:text="${exhiItem.startDay +' ~ '+ exhiItem.endDay}" class="locDetail_date"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <!-- 뮤지엄 -->
    <section class="exhiRec">
        <div class="section_title" style="margin-bottom: 30px">
            <h2>뮤지엄 추천 상품</h2>
        </div>
        <div class="moreItems">
            <a href="/item/category/museum">더보기 ></a>
        </div>
        <div class="itemGroup">
            <div id="musRecItems" style="display: flex">
                <th:block th:each="musItem : ${musItems}" id="itemList">
                    <div class="locItem">
                        <a th:href="'/item/' + ${musItem.id}" class="linkLocItem">
                            <div class="locImgWrap">
                                <img th:src="${musItem.imgUrl}" alt="${musItem.itemName}">
                                <th:block th:if="${musItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${musItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined">favorite</span>
                                    </button>
                                </th:block>
                                <th:block th:unless="${musItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${musItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined" style="color: red">favorite</span>
                                    </button>
                                </th:block>
                            </div>
                            <div class="locDetail">
                                <span th:text="${musItem.itemName}" class="locDetail_title" ></span>
                                <span th:if="${#strings.isEmpty(musItem.place)}" th:text="${musItem.address}" class="locDetail_place"></span>
                                <span th:unless="${#strings.isEmpty(musItem.place)}" th:text="${musItem.place}" class="locDetail_place"></span>
                                <span th:text="${musItem.startDay +' ~ '+ musItem.endDay}" class="locDetail_date"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <!-- 축제/행사 -->
    <section class="exhiRec">
        <div class="section_title" style="margin-bottom: 30px">
            <h2>축제/행사 추천 상품</h2>
        </div>
        <div class="moreItems">
            <a href="/item/category/festival">더보기 ></a>
        </div>
        <div class="itemGroup">
            <div id="festRecItems" style="display: flex">
                <th:block th:each="festItem : ${festItems}" id="itemList">
                    <div class="locItem">
                        <a th:href="'/item/' + ${festItem.id}" class="linkLocItem">
                            <div class="locImgWrap">
                                <img th:src="${festItem.imgUrl}" alt="${festItem.itemName}">
                                <th:block th:if="${festItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${festItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined">favorite</span>
                                    </button>
                                </th:block>
                                <th:block th:unless="${festItem.userLikeYn == null}">
                                    <button type="button" class="likeBtn" th:value="${festItem.id}" onclick="addLike(event, this.value)">
                                        <span class="material-symbols-outlined" style="color: red">favorite</span>
                                    </button>
                                </th:block>
                            </div>
                            <div class="locDetail">
                                <span th:text="${festItem.itemName}" class="locDetail_title" ></span>
                                <span th:if="${#strings.isEmpty(festItem.place)}" th:text="${festItem.address}" class="locDetail_place"></span>
                                <span th:unless="${#strings.isEmpty(festItem.place)}" th:text="${festItem.place}" class="locDetail_place"></span>
                                <span th:text="${festItem.startDay +' ~ '+ festItem.endDay}" class="locDetail_date"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</div>
</html>