<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                autoplay: true,
                autoplayhoverpause: true,
                autoplaytimeout: 100,
                items: 4,
                nav: true,
                loop: true
            });

            $('#locItem1').show();
            $('#locItem2').hide();
            $('#locItem3').hide();
            $('#locItem4').hide();
            $('#locItem5').hide();
            $('#locItem6').hide();

            $(".radioButton").on("click", function(e) {
                var $btns = $(".radioButton");
                var $loc1 = $("#loc1");
                var $loc2 = $("#loc2");
                var $loc3 = $("#loc3");
                var $loc4 = $("#loc4");
                var $loc5 = $("#loc5");
                var $loc6 = $("#loc6");

                // 모든 버튼의 활성화 상태를 업데이트합니다.
                $btns.each(function() {
                    if ($(this).is(e.currentTarget)) {
                        $(this).addClass("active");
                    } else {
                        $(this).removeClass("active");
                    }
                });

                if ($(e.currentTarget).is($loc1)) {
                    $('#locItem1').show();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc2)) {
                    $('#locItem2').show();
                    $('#locItem1').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc3)) {
                    $('#locItem3').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc4)) {
                    $('#locItem4').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem5').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc5)) {
                    $('#locItem5').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem6').hide();
                }
                if ($(e.currentTarget).is($loc6)) {
                    $('#locItem6').show();
                    $('#locItem1').hide();
                    $('#locItem2').hide();
                    $('#locItem3').hide();
                    $('#locItem4').hide();
                    $('#locItem5').hide();
                }

            });
        })

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div layout:fragment="content">

    <!-- 배너 -->
    <div class="container mt-5">
        <div class="owl-carousel owl-theme">
            <th:block th:each="exhiItem : ${exhiItems}">
                <div class="ms-2 me-2">
                    <div class="bannerLink">
                        <img th:src="${exhiItem.imgUrl}" alt="${exhiItem.itemName}" class="bannerImg">
                        <ul class="bannerContents">
                            <li th:text="${exhiItem.itemName}" class="bannerTitle"></li>
                            <li th:if="${exhiItem.place == null}" th:text="${exhiItem.address}" class="bannerLoc"></li>
                            <li th:unless="${exhiItem.place == null}" th:text="${exhiItem.place}" class="bannerLoc"></li>
                            <li th:text="${exhiItem.startDay +' ~ '+ exhiItem.endDay}" class="bannerDate"></li>
                        </ul>
                    </div>
                </div>
            </th:block>
            <th:block th:each="musItem : ${musItems}">
                <div class="ms-2 me-2">
                    <div class="bannerLink">
                        <img th:src="${musItem.imgUrl}" alt="${musItem.itemName}" class="bannerImg">
                        <ul class="bannerContents">
                            <li th:text="${musItem.itemName}" class="bannerTitle"></li>
                            <li th:if="${musItem.place == null}" th:text="${musItem.address}" class="bannerLoc"></li>
                            <li th:unless="${musItem.place == null}" th:text="${musItem.place}" class="bannerLoc"></li>
                            <li th:text="${musItem.startDay +' ~ '+ musItem.endDay}" class="bannerDate"></li>
                        </ul>
                    </div>
                </div>
            </th:block>
            <th:block th:each="festItem : ${festItems}">
                <div class="ms-2 me-2">
                    <div class="bannerLink">
                        <img th:src="${festItem.imgUrl}" alt="${festItem.itemName}" class="bannerImg">
                        <ul class="bannerContents">
                            <li th:text="${festItem.itemName}" class="bannerTitle"></li>
                            <li th:if="${festItem.place == null}" th:text="${festItem.address}" class="bannerLoc"></li>
                            <li th:unless="${festItem.place == null}" th:text="${festItem.place}" class="bannerLoc"></li>
                            <li th:text="${festItem.startDay +' ~ '+ festItem.endDay}" class="bannerDate"></li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <!-- 검색창 -->
    <form th:action="@{/search}" method="get">
        <div class="searchBox">
            <input name="searchQuery" type="search" class="searchInput" placeholder="검색어를 입력하세요" aria-label="Search">
            <button type="submit" class="material-symbols-outlined searchButton">search</button>
        </div>
    </form>

    <!-- 지역별 -->
    <section class="LocRec">
        <div class="section_title">
            <h2>지역별 추천 상품</h2>
        </div>
        <div class="LocRec_content">
            <div class="radioGroup">
                <button role="tab" class="radioButton active" id="loc1" aria-label="서울">서울</button>
                <button role="tab" class="radioButton" id="loc2" aria-label="경기">경기</button>
                <button role="tab" class="radioButton" id="loc3" aria-label="경상">경상</button>
                <button role="tab" class="radioButton" id="loc4" aria-label="전라">전라</button>
                <button role="tab" class="radioButton" id="loc5" aria-label="제주">제주</button>
                <button role="tab" class="radioButton" id="loc6" aria-label="충청">충청</button>
            </div>
            <div class="itemGroup">
                <div id="locItem1" style="display: flex">
                    <th:block th:each="seoulItem : ${seoulItems}" id="itemList">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${seoulItem.imgUrl}" alt="${seoulItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${seoulItem.itemName}" class="locDetail_title" ></span>
                                    <span th:if="${seoulItem.place == null}" th:text="${seoulItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${seoulItem.place == null}" th:text="${seoulItem.place}" class="locDetail_place"></span>
                                    <span th:text="${seoulItem.startDay +' ~ '+ seoulItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div id="locItem2" style="display: flex">
                    <th:block th:each="kkItem : ${kkItems}">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${kkItem.imgUrl}" alt="${kkItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${kkItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${kkItem.place == null}" th:text="${kkItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${kkItem.place == null}" th:text="${kkItem.place}" class="locDetail_place"></span>
                                    <span th:text="${kkItem.startDay +' ~ '+ kkItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div id="locItem3" style="display: flex">
                    <th:block th:each="ksItem : ${ksItems}">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${ksItem.imgUrl}" alt="${ksItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${ksItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${ksItem.place == null}" th:text="${ksItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${ksItem.place == null}" th:text="${ksItem.place}" class="locDetail_place"></span>
                                    <span th:text="${ksItem.startDay +' ~ '+ ksItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div id="locItem4" style="display: flex">
                    <th:block th:each="jrItem : ${jrItems}">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${jrItem.imgUrl}" alt="${jrItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${jrItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${jrItem.place == null}" th:text="${jrItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${jrItem.place == null}" th:text="${jrItem.place}" class="locDetail_place"></span>
                                    <span th:text="${jrItem.startDay +' ~ '+ jrItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div id="locItem5" style="display: flex">
                    <th:block th:each="jjItem : ${jjItems}">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${jjItem.imgUrl}" alt="${jjItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${jjItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${jjItem.place == null}" th:text="${jjItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${jjItem.place == null}" th:text="${jjItem.place}" class="locDetail_place"></span>
                                    <span th:text="${jjItem.startDay +' ~ '+ jjItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

                <div id="locItem6" style="display: flex">
                    <th:block th:each="ccItem : ${ccItems}">
                        <div class="locItem">
                            <a class="linkLocItem">
                                <div class="locImgWrap">
                                    <img th:src="${ccItem.imgUrl}" alt="${ccItem.itemName}">
                                </div>
                                <div class="locDetail">
                                    <span th:text="${ccItem.itemName}" class="locDetail_title"></span>
                                    <span th:if="${ccItem.place == null}" th:text="${ccItem.address}" class="locDetail_place"></span>
                                    <span th:unless="${ccItem.place == null}" th:text="${ccItem.place}" class="locDetail_place"></span>
                                    <span th:text="${ccItem.startDay +' ~ '+ ccItem.endDay}" class="locDetail_date"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>

            </div>
        </div>
    </section>

    <!-- 전시회 -->
    <section class="exhiRec">
        <div class="section_title">
            <h2>전시회 추천 상품</h2>
        </div>
        <div class="itemGroup">
            <div id="exhiRecItems" style="display: flex">
                <th:block th:each="seoulItem : ${seoulItems}" id="itemList">
                    <div class="locItem">
                        <a class="linkLocItem">
                            <div class="locImgWrap">
                                <img th:src="${seoulItem.imgUrl}" alt="${seoulItem.itemName}">
                            </div>
                            <div class="locDetail">
                                <span th:text="${seoulItem.itemName}" class="locDetail_title" ></span>
                                <span th:if="${seoulItem.place == null}" th:text="${seoulItem.address}" class="locDetail_place"></span>
                                <span th:unless="${seoulItem.place == null}" th:text="${seoulItem.place}" class="locDetail_place"></span>
                                <span th:text="${seoulItem.startDay +' ~ '+ seoulItem.endDay}" class="locDetail_date"></span>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>



</div>

</html>