<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="css">
    <style>
        .placeDtlBox {
            border: 1px solid #f0f0f0;
            width: 60%;
            margin: 0 auto;
            border-radius: 10px;
        }
        .placeDtlBox button {
            float: right;
        }
        #map {
            margin: 0 auto;
        }
        .placeDtlBox h2 {
            margin: 40px;
            font-weight: 700;
            text-align: center;
        }
        .placeInfo {
            margin: 30px;
        }
        .placeDtlBox h5{
            border-top: 1px solid #f0f0f0;
            padding-top: 15px;
            font-weight: 600;
            font-size: 18px;
        }
        .placeInfo ul {
            padding-left: 0;
        }
        .placeInfo li {
            display: flex;
            margin: 10px 0;
        }
        .placeInfo li span {
            color: #BBE309;
        }
        .placeInfo li div {
            margin-left: 20px;
        }
        .comments {
            margin: 30px;
        }
        #commentWrap {
            display: flex;
        }
        #comment {
            width: 90%;
        }
        .comm {
            margin-bottom: 25px;
        }
        .commHead {
            display: flex;
        }
        .commHead button {
            margin: 0 3px;
            font-size: 10px;
        }
        .comm .writer, .comm .regTime {
            font-size: 14px;
            color: #808080;
        }
        .commBody {
            display: flex;
        }
        .commBody textarea {
            display: none;
            width: 90%;
        }
        .commText {
            margin: 5px;
            word-break: break-all;
        }
        .commBody button {
            display: none;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

            map();
            addComment();
        });

        function map() {
            var x = $('#x').val();
            var y = $('#y').val();

            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(x, y),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);

            var markerPosition  = new kakao.maps.LatLng(x, y);  // 마커가 표시될 위치
            var marker = new kakao.maps.Marker({  // 마커를 생성한다
                position: markerPosition
            });

            marker.setMap(map); // 마커가 지도 위에 표시되도록 설정한다
        }

        function addLike() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/place/like";
            var paramData = {
                itemId : $("#musArtId").val()
            }

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    location.href = '/place/detail' + [[${musArt.id}]]
                },
                error : function(jqXHR, status, error){
                    alert('찜 기능은 로그인 후 이용 가능합니다.');
                    location.href = '/members/login';
                }
            });
        }

        function addComment() {
            $('#commentBtn').click(function() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var paramData = {
                    musArtId : $('#musArtId').val(),
                    content : $('#comment').val()
                }

                var param = JSON.stringify(paramData);

                if(confirm("댓글을 작성하시겠습니까?")) {
                    $.ajax({
                        type : "POST",
                        url : "/place/comment/write",
                        contentType : "application/json",
                        data : param,
                        beforeSend : function(xhr){
                            xhr.setRequestHeader(header, token);
                        },
                        success : function() {
                            alert('댓글이 작성되었습니다.');
                            window.location.href="/place/detail/" + $('#musArtId').val();
                        }
                    })
                }
            })
        }

        function deleteComment(commentId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var musArtId = $('#musArtId').val();

            $.ajax({
                url : "/place/comment/" + commentId,
                type : "DELETE",
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status) {
                    location.href='/place/detail/' + musArtId;
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }
                    else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        function modifyComment(commentId) {
            $('#content-'+commentId).css('display', 'none');
            $('#contentInput-'+commentId).css('display', 'block');
            $('#modifyBtn-'+commentId).css('display', 'block');
        }

        function updateComment(commentId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var content = $('#contentInput-'+commentId).val();
            var musArtId = $('#musArtId').val();

            var url = "/place/comment/" +commentId+ "?content=" + content;

            $.ajax({
                url : url,
                type : "PATCH",
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    location.href='/place/detail/' + musArtId;
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }
                    else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

    </script>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <input type="hidden" th:value="${musArt.geoY}" id="x">
        <input type="hidden" th:value="${musArt.geoX}" id="y">
        <div class="placeDtlBox">
            <button type="button" th:classappend="${isLikePlace}" onclick="addLike()" class="likeBtn">
                <span class="material-symbols-outlined" >favorite</span>
                <span th:if="${likePlaces == null}" style="color: grey">찜 0</span>
                <span th:unless="${likePlaces == null}" th:text="${'찜 '+ likeCount}" style="color: grey"></span>
                <input type="hidden" id="musArtId" name="musArtId" th:value="${musArt.id}">
            </button>
            <h2 th:text="${musArt.name}"></h2>

            <div class="mapWrap">
                <div id="map" style="width:700px;height:300px;"></div>
            </div>

            <div class="placeInfo">
                <h5>정보</h5>
                <ul>
                    <li>
                        <span class="material-symbols-outlined">schedule</span>
                        <div th:text="${musArt.openTime + ' ~ ' + musArt.closeTime}"></div>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">call</span>
                        <div th:text="${musArt.tel}"></div>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">location_on</span>
                        <div th:text="${musArt.address}"></div>
                    </li>
                </ul>
            </div>

            <div class="comments">
                <h5>리뷰</h5>
                <div class="mb-3" id="commentWrap">
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                    <button type="button" class="btn btn-outline-secondary" id="commentBtn">등록</button>
                </div>
                <div class="commentList">
                    <div th:if="${comments != null}">
                        <th:block th:each="comment : ${comments}">
                            <div class="comm">
                                <div class="commHead">
                                    <div th:text="${comment.createdBy}" class="writer"></div>
                                    <div th:if="${#strings.equals(userEmail, comment.createdBy)}">
                                        <button type="button" class="btn btn-outline-primary btn-sm" id="modify"
                                                th:value=${comment.id} onclick="modifyComment(this.value)">수정</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" id="delete"
                                                th:value=${comment.id} onclick="deleteComment(this.value)">삭제</button>
                                    </div>
                                    <div th:unless="${#strings.equals(userEmail, comment.createdBy)}"></div>
                                </div>
                                <div class="commBody">
                                    <div th:text="${comment.content}" th:id="'content-' +${comment.id}"></div>
                                    <textarea class="form-control" th:id="'contentInput-' +${comment.id}" th:value="${comment.content}"
                                              th:text="${comment.content}" rows="3"></textarea>
                                    <button type="button" class="btn btn-outline-secondary" th:id="'modifyBtn-' + ${comment.id}"
                                            th:value=${comment.id} onclick="updateComment(this.value)">등록</button>
                                </div>
                                <div th:text="${comment.regTime}" class="regTime"></div>
                            </div>
                        </th:block>
                    </div>
                    <div th:unless="${comment == null}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>